:root
{
    --color: #435C73;
    --color2: #F2C879;
    --color3: #D9BC9A;
    --color4:#151B26;
    --color5:#0D0D0D; 
    --white: #FFFFFF;
    --sm:14px;
    --md:16px;
    --lg: 18px;
}
body
{
    margin:30px, 0, 0, 30px;
    font-family: 'Quicksand', sans-serif;
    background-image:radial-gradient(circle, #667384, #EBC469, #35363B);
    background-size: cover;
    background-repeat: no-repeat;
}
.pic-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    gap: 24px;
    place-content:center;
} 

.pic-card
{
    width: 200px;

}
.pic-card img
{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    
}
.pic-card:hover ~ .pic-card {
    transform: translatE(60px, 0, 0);
}
.pic-container:hover .pic-card{
    opacity: 0.4;
}
.pic-container:hover .pic-card:hover{
    transform: scale(1.2);
    opacity: 1;
    margin: 25px;
}

.pic-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pic-info
{
    margin:10px;
    width: 150px;
    margin-top: 12px;
}
.pic-info figure img{
    width: 30px;
    height: 30px;
    justify-content: center;
}

.pic-info div p:nth-child(1)
{
    font-weight:bolder;
    font-size: var(--md);
    color: var(--color5);
    margin-top: 0px;
    margin-bottom: 4px;
}
.pic-info div p:nth-child(2)
{
    font-size: var(--sm);
  
}

@media (max-width:640px)
{
    .pic-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);
        gap: 31px;
    }
    .pic-card
    {
        width: 140;
    
    }
    .pic-card img
    {
        width: 140px;
        height: 140px;
        border-radius: 20px;
        object-fit: cover;
    }

}


    
